.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  position: relative;
  z-index: 0;
  width: 720px;
  max-width: 98%;
  margin: auto;
  padding: 8px;
  background-color: black;
  border: 0.2rem solid #fff;
  box-shadow: 0 0 .2rem #fff,
  0 0 .2rem #fff,
  0 0 1.4rem #bc13fe,
  0 0 0.6rem #bc13fe,
  0 0 2.4rem #bc13fe,
  inset 0 0 0.8rem #bc13fe; 
  box-sizing: border-box;
}